body{
  background: linear-gradient(to right, rgb(80, 198, 162), rgb(157, 247, 76));
}
.grid { margin:1em auto; border-collapse:collapse }
.grid td {
    cursor:pointer;
    width:70px; height:70px;
    border:3px solid #ccc;
    text-align:center;
    background-color: green;
    font-family:sans-serif; font-size:13px
    font-weight:bold; color:white;
}
.grid td.clicked {
    background-color:#af111c;
  
}

  a{
   text-decoration: none;
   color: white;


}
a:hover
{

    background: #00b7f5;

}
@media all and (max-width:800px)
{

ul{
  justify-content:space-around;
}

}
@media all and (max-width:600px)
{

ul{
  flex-flow: column wrap;
text-align: center;
padding-top: 3px;
padding-bottom: 3px;
}
a {
  text-align: center;




}


}

h1{
margin-top: 3px;
padding-top: 10px;
text-align: center;
color: black;
transition:.5s;
}






input[type=text] {
    width: 430px;
     border: 2px #ccc;
    margin-left: 450px;
    margin-top: 80px;
    border-radius: 24px;
    font-size: 16px;
    background-color: light-grey;
    padding: 12px 0px 12px 40px;

}
